<div class="well">
  <p class="list-group-item-text small"><%= message.user.full_name %></p>
  <p class="list-group-item-text small"><%= date_to_formatted(message.created_at) %></p>
  <h4><%= message.body %></h4>
</div>