<% if flash.present? %>
  <% flash.each do |key, value| %>
    <% if key == 'error_messages' %>
      <% value.each do |message| %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= message %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>