<div class="row">
  <div class="col-md-6">
    <%= link_to '#messages', root_path %>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <% if user_signed_in? %>
        <%= link_to 'Выйти', destroy_user_session_path, method: :delete %> |
        <%= link_to current_user.email, '' %>
      <% end %>
    </div>
  </div>
</div>
<br>